.borda{
    width: 780px;
    height: 200px;
    margin-left: 192px;
    margin-top: 68px;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(97, 219, 105);
}


.titulo{
    font-style: italic;
   margin-left: 325px;
   color: rgb(0, 0, 0);
}

#somar{
    background-color: rgb(218, 141, 141);
}
#subtrair{
    background-color: rgb(218, 141, 141);
}
#multiplicar{
    background-color: rgb(218, 141, 141);
}
#dividir{
    background-color: rgb(218, 141, 141);
}
#resultado{
    font-family: Georgia, 'Times New Roman', Times, serif;
}